<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbalance.balance_d">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sugerencias"/>
        <activity android:name=".login" />
        <activity android:name=".musica" />
        <activity android:name=".juegos" />
        <activity android:name=".consejo_salud" />
        <activity android:name=".imc_salud" />
        <activity android:name=".ajustes" />
        <activity android:name=".menu" />
        <activity android:name=".registro" />
        <activity android:name=".niveles" />
        <activity android:name=".cuestionario" />
        <activity android:name=".acerca" />
        <activity android:name=".Bienvenida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>